.SearchSection{
    min-height: calc(100% - 50px);
    width: 35%;
    background-color: #fbb03b;
    text-align: center;
    padding: 10px;
    /* -webkit-transition: width 1s; 
    transition: width 1s; */
}
.SearchSectionTransition{
    min-height: calc(100% - 50px);
    width: 100%;
    background-color: #fbb03b;
    text-align: center;
    padding: 10px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s;
}

.SearchSection div:first-child{
    position: relative;
    top: 10%;
}