.SigninBox{
    width: calc(26vw);
    text-align: center;
    color: darkgray;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.SigninBox h2{
    margin: 10;
}
.SigninBox h4{
    margin: 0px
}
.LoginLink{
    cursor: pointer;
}
.LoginDisclaimer{
    font-size: small;
    font-style: italic;
}