.Box{
    background-color: white;
    position: absolute;
    border: 4px dashed gray;
    border-radius: 25px;
    height: 40%;
    width: 40%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}