.UserProfile{
 margin: 5px;
}

.UserProfile p{
    margin: 0px;
}

.UserImage{
    border-radius: 50%;
    width: 100px;
}

@media (max-width: 992px){
    .UserImage{
       
        width: 50px;
    }
}