.LoginBox{
    width: calc(26vw);
    text-align: center;
    color: darkgray;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.LoginBox h2{
    margin: 10;
}
.LoginBox h4{
    margin: 0px
}
.CreateAccountLink{
    cursor: pointer;
}
.LoginDisclaimer{
    font-size: small;
    font-style: italic;
}

.errorMsg{
    display: none;
    color: red;
    margin-bottom: 0px;
}

@media only screen 
    and (max-width : 500px)  { 
        .LoginBox{
            width: calc(55vw);
        }
    }
@media only screen 
    and (max-width : 500px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .LoginBox{
            width: auto;
        }
        .LoginBox h2{
            font-size: 1em;
        }
        .LoginBox h4{
           font-size: .877em;
        }
    }