.UploadContent{
    width: auto;
    text-align: center;
}
.Upload-Image{
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 780px) {
    .Upload-Image{
        width: 70px;
    }
  }



  @media only screen and (max-width: 992px) {
    .UploadContent h2,h4{
        margin: 0em;
    }
  } 