
.ActionMenu{
    position: absolute;
    top: 185px;
    right: 30px;
    float: right;
    width: 200px;
}

.ActionMenu button{
    width: 100%;
    height: 30px;
    background-color: #0070e0;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1em;
}

.ActionMenu ul{
    color: #0070e0;
    list-style: none;
    padding: 0;
}

.ActionMenu>ul li{
    padding-left: 1.3em;
    margin: 10px 0px; 
}

.ActionMenu>ul li::before{
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}

.CreateFolder::before{
    content: "\f114"; /* FontAwesome Unicode */
}

.CreateTemplate::before{
    content: "\f0f6"; /* FontAwesome Unicode */
}

.CreateNotes::before{
    content: "\f073"; /* FontAwesome Unicode */
}

@media (max-width: 1024px){
    .ActionMenu{
        display: none;
    }
}